<div class="container-list-message">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="text-reset list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>

    </ul>
</div>
<!-- <li class="list-group-item">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Heading</h5>
                    <small>small</small>
                </div>
                <p class="mb-1">Paragraph</p>
            </a>
        </li>
    </ul> -->
<!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Heading</h5>
                <small>small</small>
            </div>
            <p class="mb-1">Paragraph</p>
        </a> -->