<!-- <div id="containerCenter">
  <div id="formLogin" class="container">
    <div id="brandImage">
      <img src="../../assets/image/chat.png" alt="" />
      <h2 class="text-center">ĐĂNG NHẬP</h2>
    </div>
    <div class="d-flex justify-content-center">
      <img id="imageUserLogin" src="../../assets/image/user.png" alt="" />
    </div>
    <form class="mt-5" action="">
      <div class="form-group">
        <label for="">Số điện thoại</label>
        <input
          type="tel"
          class="form-control"
          name="phone"
          id="phone"
          placeholder="Nhập số điện thoại"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="Nhập mật khẩu"
        />
      </div>
      <button class="btn btn-primary btn-block">Đăng Nhập</button>
    </form>
    <div class="mt-5">
      <a class="" href="">Đăng ký</a>
    </div>
  </div>
</div> -->
